{% extends "template.html" %} {% block conteudo %}

<p>THOR Web contemplates the use of the THOR and THOR 2 methods, helping to compare the results of the methods and contributing to the application in more complex problems, in which a greater number of criteria and alternatives are used. The  system aims to expand and disseminate the use of methods by the scientific community. The THOR Web system was developed at the Military Engineering Institute (IME) located in Rio de Janeiro, Brazil.</p>
<p>THOR is a multicriteria decision support system for the ranking of discrete alternatives, which eliminates redundant criteria simultaneously considering if the information is dubious and if there is an increase in imprecision in the decision process. In this way, imprecision is quantified, using it in the multicriteria decision support process.</p>
<p>THOR 2 brings an axiomatic evolution of THOR contemplating the natural evolution of knowledge to be incorporated into the algorithm. These modifications provided a better distribution of the weights in the function of non-transitive aggregation and allowed to fully contemplate the model's uncertainty, since all weights are multiplied by their respective fuzzy-approximate index.</p>


<div style="display: flex;">

    <div class="dev-div-img">
        <img class="dev-img" src="{{ url_for('static', filename='img/maione.jpeg') }}" alt="Fabricio Maione Tenório">
        <div style="margin-top: 30px">
            <p><strong>Fabricio Maione Tenório (UFF)</strong></p>
            <p class="text">Fabricio Maione Tenório is a Professor of Production Engineering in Federal Center of Technological Education Celso Suckow da Fonseca, in Itaguaí, Rio de Janeiro State, Brazil. He received his Master of Sciences degree in Systems and Computing from the Military Engineering Institute, Rio de Janeiro. His main areas of interest are Multiple Criteria Decision Analysis and Computer Science.</p>
        </div>
        <div style="display: flex;">
            <a class="link" target="_blank" href="https://www.linkedin.com/in/fabricio-maione-2675488a/"><img class="media" src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
            <a class="link" target="_blank" href="https://www.researchgate.net/profile/Fabricio-Tenorio"><img class="media" src="{{ url_for('static', filename='img/researchgate.png') }}"></a>
            <a class="link" target="_blank" href="http://lattes.cnpq.br/5443635066574798"><img class="media" src="{{ url_for('static', filename='img/Lattes.png') }}"></a>
        </div>
    </div>

    <div class="dev-div-img">
        <img class="dev-img" src="{{ url_for('static', filename='img/jean.jpeg') }}" alt="Jean de Carvalho Araujo">
        <div style="margin-top: 30px">
            <p><strong>Jean de Carvalho Araujo (Cefet)</strong></p>
            <p class="text">Jean de Carvalho Araujo is an industrial intern in Société Générale de Surveillance, in Rio de Janeiro, Brazil. He is a Student of Production Engineering in Federal Center of Technological Education Celso Suckow da Fonseca, in Itaguaí, Rio de Janeiro State, Brazil. His main areas of interest are Multiple Criteria Decision Analysis and Computer Science.</p>
        </div>
        <div style="display: flex;">
            <a class="link" target="_blank" href="https://www.linkedin.com/in/jean-de-carvalho-araujo-6853238b/"><img class="media" src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
            <a class="link" target="_blank" href="http://lattes.cnpq.br/7245131471938360"><img class="media" src="{{ url_for('static', filename='img/Lattes.png') }}"></a>
        </div>
    </div>

    <div class="dev-div-img">
        <img class="dev-img" src="{{ url_for('static', filename='img/gilvan.jpg') }}" alt="Gilvan Praxedes de Almeida">
        <div style="margin-top: 30px">
        <p><strong>Gilvan Praxedes de Almeida (IME)</strong></p>
        <p class="text">Gilvan Praxedes de Almeida is a Full Stack Developer at Radix Engineering and Software Development, in Rio De Janeiro State, Brazil. He is a Master's student of Sciences degree in Systems and Computing at Military Institute of Engineering - IME, in Rio de Janeiro State, Brazil. His main areas of interest are software development, machine learning, and data science.</p>
    </div>
        <div style="display: flex;">
            <a class="link" target="_blank" href="https://www.linkedin.com/in/gilvan-almeida/"><img class="media" src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
            <a class="link" target="_blank" href="http://lattes.cnpq.br/2568397365973753"><img class="media" src="{{ url_for('static', filename='img/Lattes.png') }}"></a>
        </div>
    </div>
</div>
<div style="display: flex; margin-top: 20px">
    <div class="dev-div-img">
        <img class="dev-img" src="{{ url_for('static', filename='img/marcos.jpeg') }}" alt="Marcos dos Santos">
        <div style="margin-top: 30px">
            <p><strong>Marcos dos Santos (IME)</strong></p>
            <p class="text">Marcos dos Santos is a professor of Advanced Mathematics at the Military Engineering Institute, in Rio de Janeiro, Rio de Janeiro State, Brazil. He received his Doctor of Production Engineering degree in Production Engineering from the Fluminense Federal University. His main areas of interest are Mathematics, Multiple Criteria Decision Analysis and Computer Science.</p>
        </div>
        <div style="display: flex;">
            <a class="link" target="_blank" href="https://www.linkedin.com/in/prof-dr-marcos-santos-45909763/"><img class="media" src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
            <a class="link" target="_blank" href="https://www.researchgate.net/profile/Marcos_Dos_Santos6"><img class="media" src="{{ url_for('static', filename='img/researchgate.png') }}"></a>
            <a class="link" target="_blank" href="http://lattes.cnpq.br/5534398558592175"><img class="media" src="{{ url_for('static', filename='img/Lattes.png') }}"></a>
        </div>
    </div>

    <div class="dev-div-img">
        <img style="margin-bottom: 30px;" class="dev-img" src="{{ url_for('static', filename='img/simoes.jpeg') }}" alt="Carlos Francisco Simões Gomes">
        <div>
            <p><strong>Carlos Francisco Simões Gomes (UFF)</strong></p>
            <p class="text">Carlos Francisco Simões Gomes is a Professor of Production Engineering in Fluminense Federal University, in Niteroi, Rio de Janeiro State, Brazil. He received his Doctor of Sciences degree in Production Engineering from the Federal University of Rio de Janeiro. His main areas of interest are Multiple Criteria Decision Analysis and Information Technology.</p>
        </div>
        <div style="display: flex;">
            <a class="link" target="_blank" href="https://www.linkedin.com/in/carlos-francisco-sim%C3%B5es-gomes-7284a3b/"><img class="media" src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
            <a class="link" target="_blank" href="https://www.researchgate.net/profile/Carlos-Francisco-Gomes"><img class="media" src="{{ url_for('static', filename='img/researchgate.png') }}"></a>
            <a class="link" target="_blank" href="http://lattes.cnpq.br/7509084995553647"><img class="media" src="{{ url_for('static', filename='img/Lattes.png') }}"></a>
        </div>
    </div>
</div>
{% endblock %}