{% extends "template.html" %}
{% block conteudo %}
  <div>
    <h3>THOR 2 Method: An Efficient Instrument in Situations of Uncertainty or Lack of Data</h3>
    <embed src="{{ url_for('static', filename='file/ArtTHOR2.pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>
  
  <div>
    <h3>Feasibility of a Hospital Information System for a Military Public Organization in the Light of the Multi-Criteria Analysis</h3>
    <embed src="{{ url_for('static', filename='file/healthcare-10-02147 (1).pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>Multicriteria decision making applied to wate recycling: comparison between THOR and THOR2 methods</h3>
    <embed src="{{ url_for('static', filename='file/Multicriteria_decision_making_applied_to_waste_rec.pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>Choosing a hospital assistance ship to fight the covid-19 pandemic</h3>
    <embed src="{{ url_for('static', filename='file/1518-8787-rsp-54-79.pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>Demand Priorization on Supply Chain by the Integration of Value-Focused Thinking Approach and THOR 2 Method</h3>
    <embed src="{{ url_for('static', filename='file/1-s2.0-S1877050922018828-main.pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>Driving ESG Compliance: THOR-2 Assessment of Biodiesel Production Capacities in the Midwest and South of Brazil</h3>
    <embed src="{{ url_for('static', filename='file/baixados.pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>Waste Reduction using the THOR 2 Hybrid Method: Decision Making in the Context of Lean Healthcare</h3>
    <embed src="{{ url_for('static', filename='file/baixados (1).pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>The Combined use of Value-Focused Thinking and THOR 2 to Choose a Biodigester in a Brazilian Public University</h3>
    <embed src="{{ url_for('static', filename='file/baixados (2).pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

  <div>
    <h3>An Approach of the Momentum Method for Prospective Scenarios of Brazilian Tourism Post-Covid-19</h3>
    <embed src="{{ url_for('static', filename='file/4.pdf') }}" type="application/pdf" width="100%" height="550px" />
  </div>

{% endblock %}
