{% extends "template.html" %} {% block conteudo %}
<form action="{{ url_for('matrix_pertinence') }}" method="POST">
    <h6><b>Matrix of Alternatives</b></h6>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            {% for criteria in criterias %}
                <th scope="col">{{ criteria }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for alternative in alternatives %}
            {% set first_index = loop.index %}
            <tr>
                <th scope="row">{{ alternative }}</th>
                {% for criteria in criterias %}
                {% set second_index = loop.index %}
                    <td scope="col">
                        <input style="width: 100px" type="number" name="value-{{first_index}}-{{second_index}}" class="form-control mx-sm-3" required>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "buttons.html" %}
</form>
{% endblock %}