{% extends "template.html" %}
{% block conteudo %}
<form action="{{ url_for('result', id=id) }}" onSubmit="return checkForm()" method="POST">
    <h6><b>Weight</b></h6>
    {% for p in pesofims %}
    <div class="container">
        <div class="row">
            <p>Decisor {{loop.index}}</p>
            {% for i in p %}
                <div class="col-2">
                    {{i}}
                </div>
            {% endfor %}
        </div>
      </div>
      {% endfor %}
    <h6><b>Normalized weight</b></h6>
    <div class="container">
        <div class="row">
            {% for p in peso %}
                <div class="col-2">
                    {{p}}
                </div>
            {% endfor %}
        </div>
      </div>
    <h6><b>Please let me know the main infos</b></h6>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Matrix</th>
            {% for criteria in criterias %}
                <th scope="col">{{ criteria }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for alternative in alternatives %}
            {% set first_index = loop.index %}
            <tr>
                <th scope="row">{{ alternative }}</th>
                {% for criteria in criterias %}
                {% set second_index = loop.index %}
                    <td scope="col">
                        <input style="width: 100px" type="number" step="any"  name="alternative-value-{{first_index}}-{{second_index}}" class="form-control mx-sm-3" required>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">P </th>
                {% for criteria in criterias %}
                    <td scope="col">
                        <input id="p" type="number" lang="en-US" min="0" step="any" name="value-p-{{loop.index}}" class="form-control mx-sm-3" style="width: 100px" required>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Q </th>
                {% for criteria in criterias %}
                    <td scope="col">
                        <input id="q"    type="number" lang="en-US" min="0" step="any" name="value-q-{{loop.index}}" class="form-control mx-sm-3" style="width: 100px" required>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">D </th>
                {% for criteria in criterias %}
                    <td scope="col">
                        <input type="number" lang="en-US" min="0" step="any" name="value-d-{{loop.index}}" class="form-control mx-sm-3" style="width: 100px" required>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <p>Do you want to use pertinence</p>
    <div class="form-check form-check-inline">
        <input onclick="javascript:yesnoCheck();" class="form-check-input" type="radio" name="pertinence" value="0" id="noCheck" checked>
        <label class="form-check-label" for="inlineRadio1">
          No
        </label>
      </div>
      <div class="form-check form-check-inline">
        <input onclick="javascript:yesnoCheck();" class="form-check-input" type="radio" name="pertinence" value="1" id="yesCheck">
        <label class="form-check-label" for="inlineRadio2">
          Yes
        </label>
      </div>
    <table class="table" id="matrixPertinence" style="display:none">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Pertinence of Criteria</th>
            {% for criteria in criterias %}
                <th scope="col">{{ criteria }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Pertinence </th>
                {% for criteria in criterias %}
                    <td scope="col">
                        <input id="matrixPertinenceValue" type="number" lang="en-US" min="0" step="any" name="value-matrix-c-{{loop.index}}" class="form-control mx-sm-3" style="width: 100px">
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table class="table" id="matrixPertinence" style="display:none">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Matrix of Pertinence</th>
            {% for criteria in criterias %}
                <th scope="col">{{ criteria }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for alternative in alternatives %}
            {% set first_index = loop.index %}
            <tr>
                <th scope="row">{{ alternative }}</th>
                {% for criteria in criterias %}
                {% set second_index = loop.index %}
                    <td scope="col">
                        <input id="matrixPertinenceValue" style="width: 100px" type="number" step="any"  name="value-matrix-p-{{first_index}}-{{second_index}}" class="form-control mx-sm-3">
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
      <p>Do you want to use tca?</p>
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tca" value="0" id="noYesTcaCheck" checked>
          <label class="form-check-label" for="inlineRadio1">
            No
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="tca" value="1" id="yesTcaCheck">
          <label class="form-check-label" for="inlineRadio2">
            Yes
          </label>
        </div>

    {% include "buttons.html" %}
</form>
{% endblock %}