{% extends "template.html" %} {% block conteudo %}
<form action="{{ url_for('disagreement') }}" method="POST">
    <p>Your normalized values are:</p>
    <div class="row">
        {% for weight in weights %}
            <ul>
                <li>{{weight}}</li>
            </ul>
        {% endfor %}
    </div>
    <p> Please insert the P and Q values</p>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            {% for criteria in criterias %}
                <th scope="col">{{ criteria }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">P </th>
                {% for criteria in criterias %}
                    <td scope="col">
                        <input type="number" lang="en-US" min="0" step="any" name="value-p-{{loop.index}}" class="form-control mx-sm-3" style="width: 100px" required>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Q </th>
                {% for criteria in criterias %}
                    <td scope="col">
                        <input type="number" lang="en-US" min="0" step="any" name="value-q-{{loop.index}}" class="form-control mx-sm-3" style="width: 100px" required>
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    {% include "buttons.html" %}
</form>
{% endblock %}