<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Thor Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
      .box {
        align="center";
        width: 300px;
        height: 100px;
        padding: 150px;
        border: "0.5px solid";
      }
    </style>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
  <body>
    <div class="container">
        <div class="page-header">
          <h1>{{ title }}</h1>
        </div>
          {% block conteudo %}{% endblock %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </div>
  </body>
  <footer>
    <div class="container">
    <p>All rights reserved. The non-commercial (academic) use of this software is free of charge. The only thing that is asked in return is to cite this software when results are used in publications.</p>
    <p>ALMEIDA, Gilvan Praxedes; TENÓRIO, Fabricio Maione; ARAUJO, Jean de Carvalho; GOMES, Carlos Francisco Simões; SANTOS, Marcos dos. THOR Web software (v.1), 2020.</p>
  </div>
  </footer>
</html>
