{% extends "template.html" %}
{% block conteudo %}
<form  action="{{ url_for('weightregarding', id=id) }}" onSubmit="return checkMinMax()" method="POST">
    <div>
        <p scope="row">Decisor {{ dIndex }} W:</p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">What's your preferences of {{questions}}</span>
                </div>
                <input style="width: 100px" step="any" minimo="{{mi}}" maximo="{{ma}}" type="number" name="r" class="form-control mx-sm-3" required>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}