{% extends "template.html" %} {% block conteudo %}
<form action="{{ url_for('calculate_weight') }}" method="POST">
    <h6><b>Decision makers weights</b></h6>
    {% if 'direct' in data.assignment_method_selected %}
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            {% for criteria in data.criterias %}
                <th scope="col">{{ criteria }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for decisor in data.decisors %}
            {% set first_index = loop.index %}
            <tr>
                <th scope="row">Decisor {{ loop.index }}:</th>
                {% for criteria in data.criterias %}
                {% set second_index = loop.index %}
                    <td scope="col">
                        <input style="width: 100px" type="number" name="value-{{first_index}}-{{second_index}}" class="form-control mx-sm-3" required>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% elif 'reason' in data.assignment_method_selected %}

    {% else %} <!-- data.assignment_method_selected is 'interval'  -->

    {% endif %}
    {% include "buttons.html" %}
</form>
{% endblock %}